# Path to RC Files, clouds.yaml from standard Paths will always be loaded
RCPath = "~/.config/openstack/"

# Customize prompt: %n = Name, %r = Region, %d = Domain, %p = Project, %u = User
Prompt = "%n:%r"

# Ensures that "OS_" envars cant be overwritten in the spawned Shell
ProtectEnv = true

# Sets up Shell aliases 'os' and 'o'
Aliases = false
